.box {
    width: 200px;
    height: 200px;
    background-color: red;
    /*transition-property: width,height,background-color;
    transition-duration: 1s,3s,2s;
    transition-timing-function: ease;
    transition-delay: 0ms;*/

    transition: width 1s ease,height 3s ease,background-color 2s ease;
}

.box:hover {
    width: 400px;
    height: 600px;
    background-color: cadetblue;
}