#allBooks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    max-width: 23%;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 20px gray;
    border-radius: 20px;
}